body {
    text-align: center;
    background-color: white;
    font-family: 'Baloo Tammudu', cursive;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.9em;
}

.container {
    max-width: 1000px;
}

.mainer {
    margin-top: 100px; 

}

div {
    padding-top: 1em;
}

.title {
    font-size: 7em;
    font-family: 'Baloo Tammudu', cursive;
    /*color: red;*/
}

.w_t_stage {
    display: none;
}

.t_w_stage {
    display: none;
}

#hintButton2, #answerButton2 { 
    display: none; 
    font-family: 'Roboto Slab', serif;
}

.helpBtn { 
}

a:link {
    color: #000066;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #000066 ;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #000066;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: #000066;
    background-color: transparent;
    text-decoration: none;
}

.btn-primary {
    height: 4em;
    border-radius: 1em;
    padding-top: 1.1em;
}

.wrd {
    font-family: 'Roboto Slab', serif;
}

#nextButton {
    display: none;
}
