html {
    font-size: 30px;
}

body {
    text-align: center;
    background-color: white;
    font-family: 'Baloo Tammudu', cursive;
}

.title {
    font-size: 4rem;
    font-family: 'Baloo Tammudu', cursive;
    /*color: red;*/
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

#inputForm {
    /*font-size: 2rem;*/
}

.container {
    max-width: 1000px;
}

.mainer {
    margin-top: 70px; 

}

div {
    padding-top: 0.5rem;
}

.w_t_stage {
    display: none;
}

.t_w_stage {
    display: none;
}

#hintButton2, #answerButton2 { 
    display: none; 
    font-family: 'Roboto Slab', serif;
}

.helpBtn { 
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}

a:link {
    color: #000066;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #000066 ;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #000066;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: #000066;
    background-color: transparent;
    text-decoration: none;
}

.btn-primary {
    height: ;
    border-radius: 0.5rem;
    padding-top: 1.2rem;
}

.wrd {
    font-family: 'Roboto Slab', serif;
}

#nextButton {
    display: none;
}
